{% extends 'core/base-m.html' %}


{% block breadcrumb %}

<a class="breadcrumb">Busqueda</a>
<a class="breadcrumb">Titulo</a>

{% endblock %}

{% block add %}

<nav class="black">
    <div class="nav-wrapper">
      <form action="{% url 'seeker:seeker_title_letters' %}" method="GET">
        {% csrf_token %}
        <div class="input-field">
          <input name="q" placeholder="Busqueda" id="search" type="search" required>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
</nav>

<br>
<br>

<div class="card-panel  indigo darken-3 z-depth-5">

      <span class="white-text">
          Letras
      </span>

      <br>

      <div class="container">
      <center>

        <div class="row">

          {% for letra in registros.lista %}
          
          <a href="{% url 'seeker:seeker_title_letter' letra %}" class="btn-floating btn-small waves-effect waves-light red">
            <CENTER>{{ letra }}</CENTER>
          </a>
          
          {% endfor %}
      
          
        </div>
      </center>
      </div>
          
</div>


<br>
<br>

{% endblock %}