{% extends 'core/base-m.html' %}


{% block breadcrumb %}

<a class="breadcrumb">Busqueda</a>
<a href="{% url 'seeker:title_base' %}" class="breadcrumb">Titulo</a>
<a class="breadcrumb">Letra</a>

{% endblock %}

{% block add %}

{% if object_list %}


{% include 'seeker/item/autocomplete.html' %}


<br>
<br>
<br>

{% include 'seeker/item/list.html' %}

{% include 'includes/pagination-m.html' %}


{% else %}
<p>No se encontro registro</p>
{% endif %}

<br>
<br>

{% endblock %}

{% block extrajs %}

<script type="text/javascript">


$(document).ready(function(){
  $('input.autocomplete').autocomplete({

    data: {

    {% for item in object_list %}
      "{{item.nombre}}": null,
    {% endfor %}

    },
    
    limit: 20, // The max amount of results that can be shown at once. Default: Infinity.
    onAutocomplete: function(val) {
      // Callback function when value is autcompleted.
    },
    minLength: 1, // The minimum length of the input for the autocomplete to start. Default: 1.
  });
});

</script>

 {% endblock %}