{% extends 'account/base.html' %}

{% block breadcrumb %}

  <li class="breadcrumb-item active">
    categoria
  </li>

  <li class="breadcrumb-item active">
    Eliminar
  </li>

{% endblock %}


{% block junbotron %}


<form method="post">
      <!--token seguridad-->
      {% csrf_token %}
      <div class="form-row">

        <div class="alert alert-danger" role="alert">
    
          <h3>¿Desea eliminar el registro de {{ object.nombre }}?</h3>

            <button class="btn btn-primary" type="submit" onclick="return confirm('Esta seguro')">
              Eliminar
            </button>

            <a class= "btn btn-primary" href="{% url 'grabber:category_list' %}">
              Cancelar
            </a>

        </div>

      </div>

      <hr>
      
</form>

<div class="alert alert-warning" role="alert">
  ¿Tenga presente que la siguiente categoria se encuentran registradas?
  <br>
  {{ object.collections_cantidad }} --> colecciones
</div> 


{% endblock %}
