{% extends 'account/base.html' %}

{% block breadcrumb %}

  <li class="breadcrumb-item active">
    Categoria
  </li>

  <li class="breadcrumb-item active">
    Detalles
  </li>

{% endblock %}


{% block junbotron %}


<div class="card">
  <div class="card-header text-success">
    Categoria
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ category.nombre }}</h5>
    
    <a href="{% url 'grabber:category_update' category.id %}" class="btn btn-primary">Modificar</a>
  </div>
</div>

<br>

<div class="card">
  <div class="card-header">
    Registros
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      
      <footer class="blockquote-footer">creada desde<cite title="Source Title">&nbsp;{{ category.publicado }}</cite></footer>
    </blockquote>
  </div>
</div>

<br>


{% endblock %}