{% extends 'account/base.html' %}

{% block breadcrumb %}

  <li class="breadcrumb-item active">
    Categoria
  </li>

  <li class="breadcrumb-item active">
    Detalles
  </li>

{% endblock %}


{% block junbotron %}


<div class="card">
  <div class="card-header text-success">
    Categoria
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ category.nombre }}</h5>
    
    <a href="{% url 'grabber:category_update' category.id %}" class="btn btn-primary">Modificar</a>
  </div>
</div>

<br>

<div class="card">
  <div class="card-header">
    Registros
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>{{ category.collections_cantidad }} --> colecciones</p>
      <footer class="blockquote-footer">creada desde<cite title="Source Title">&nbsp;{{ category.publicado }}</cite></footer>
    </blockquote>
  </div>
</div>

<br>

<div class="card">

  <div class="card-body">

<div class="table-responsive">

<table id="tabla-c" class="table table-hover table-bordered">

  <thead>
    <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>Detalles</th>
    </tr>
  </thead>

  <tbody>
    {% for coleccion in category.collections_registrados %}
    <tr>
      <th>{{ coleccion.id }}</th>
      <th>{{ coleccion.nombre }}</th>
      <th>
        <a href="{% url 'grabber:collection_detail' coleccion.id %}" class="btn btn-outline-info">
          <i class="fa fa-fw fa-check"></i>
        </a>
      </th>
    </tr>
    {% endfor %}
  </tbody>

</table>
</div>

  </div>
</div>


{% endblock %}

{% block extrajs %}
  
<script type="text/javascript">

$(document).ready( function () {
    $('#tabla-c').DataTable();
} );
</script>

{% endblock %}