{% extends 'core/bootstrap.html' %}
{% load static %}


{% block title %} 
	Dashboard
{% endblock %}



{% block content %}

<!--vista parcial-->
{% include 'account/navbar.html' %}

<div class="content-wrapper">

    <div class="container-fluid">

      
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">

        <li class="breadcrumb-item">
          <a href="{% url 'account:dashboard' %}">Dashboard</a>
        </li>

        {% block breadcrumb %}

        <li class="breadcrumb-item active">
          Resumen
        </li>

        {% endblock %}

      </ol>
      

      <div class="jumbotron jumbotron-fluid bg-dark">
        <div class="container">
          {% block junbotron %}
          <!--contenido-->
          <div class="row">

          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-Info mb-3" style="max-width: 18rem;">
              <div class="card-header">Usuario</div>
                <div class="card-body">
                  <h5 class="card-title">Datos: </h5>
                    <p class="card-text">
                      Nombre de usuario: {{ user.username }}
                      <br>
                      Nombre: {{ user.first_name }}
                      <br>
                      Apellido: {{ user.last_name }}
                      <br>
                      Correo: {{ user.email }}

                    </p>
                    
                </div>
            </div>
          </div>

          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-Info mb-3" style="max-width: 18rem;">
              <div class="card-header">Resumen</div>
                <div class="card-body">
                  <h5 class="card-title">Datos: </h5>

                    <p class="card-text">

                      Colecciones: {{ registros.total_colecciones }}
                      <br>
                      Items: {{ registros.total_items }}
                      <br>
                      Tipos de items: {{ registros.total_tipos_items }}
                      <br>
                      Tags: {{ registros.total_tags }}
                      <br>
                      Categorias: {{ registros.total_categorias }}
                      <br>
                      Temas: {{ registros.total_temas }}
                      <br>
                      Usuarios: {{ registros.total_usuarios }}

                    </p>
                    
                </div>
            </div>
          </div>

          </div>



<h5 class="card-title">Añadido Recientemente</h5>

<div class="row">

  {% if reciente.category_r != null %}

  <div class="col-sm-6">
    <div class="card text-white">
      <div class="card-header">Categorias</div>
      <div class="card-body">
        {% for category in reciente.category_r %}
        <a href="{% url 'grabber:category_detail' category.id %}" class="card-text">
          {{category.nombre}}&nbsp;&nbsp;--&nbsp;&nbsp;{{category.publicado}}
          &nbsp;&nbsp;--&nbsp;&nbsp;{{category.publicado|timesince}}
        </a>
        <hr class="border-success">
        {% endfor %}
      
      </div>
    </div>
  </div>
  {% else %}
  <!---->
  {% endif %}

  {% if reciente.collection_r != null %}

  <div class="col-sm-6">
    <div class="card text-white">
      <div class="card-header">Colecciones</div>
      <div class="card-body">
        {% for collection in reciente.collection_r %}

        <a href="{% url 'grabber:collection_detail' collection.id %}" class="card-text">
          {{collection.nombre}}&nbsp;&nbsp;--&nbsp;&nbsp;{{collection.publicado}}
          &nbsp;&nbsp;--&nbsp;&nbsp;{{collection.publicado|timesince}}
        </a>
        <hr class="border-success">
        {% endfor %}
      
      </div>
    </div>
  </div>
  {% else %}
  <!---->
  {% endif %}
</div>

<br>


<div class="row">

  {% if reciente.item_r != null %}

  <div class="col-sm-6">
    <div class="card text-white">
      <div class="card-header">Recursos Digitales</div>
      <div class="card-body">
        {% for item in reciente.item_r %}
        <a href="{% url 'grabber:item_detail' item.id %}" class="card-text">
          {{item.nombre}}&nbsp;&nbsp;--&nbsp;&nbsp;{{item.publicado}}
          &nbsp;&nbsp;--&nbsp;&nbsp;{{item.publicado|timesince}}
        </a>
        <hr class="border-success">
        {% endfor %}
      
      </div>
    </div>
  </div>
  {% else %}
  <!---->
  {% endif %}

  {% if reciente.theme_r != null %}

  <div class="col-sm-6">
    <div class="card text-white">
      <div class="card-header">Tematicas</div>
      <div class="card-body">
        {% for tema in reciente.theme_r %}
        <a href="{% url 'grabber:theme_detail' tema.id %}" class="card-text">
          {{tema.nombre}}&nbsp;&nbsp;--&nbsp;&nbsp;{{tema.publicado}}
          &nbsp;&nbsp;--&nbsp;&nbsp;{{tema.publicado|timesince}}
        </a>
        <hr class="border-success">
        {% endfor %}
      
      </div>
    </div>
  </div>
  {% else %}
  <!---->
  {% endif %}

</div>

<br>

<div class="row">

  {% if reciente.itemtype_r != null %}

  <div class="col-sm-6">
    <div class="card text-white">
      <div class="card-header">Tipos de recursos digitales</div>
      <div class="card-body">
        {% for item in reciente.itemtype_r %}
        <a href="{% url 'grabber:item_type_detail' item.id %}" class="card-text">
          {{item.nombre}}&nbsp;&nbsp;--&nbsp;&nbsp;{{item.publicado}}
          &nbsp;&nbsp;--&nbsp;&nbsp;{{item.publicado|timesince}}
        </a>
        <hr class="border-success">
        {% endfor %}
      
      </div>
    </div>
  </div>
  {% else %}
  <!---->
  {% endif %}

</div>
     
          {% endblock %}
        </div>
      </div>
      

<!--vista parcial-->
{% include 'account/footer.html' %} 

    </div>
</div>


  
{% endblock %}

{% block extrajs %}

<script type="text/javascript">

$(document).ready(function(){
  
 //chosen ->select
 $(".chosen-select-t").chosen({no_results_text: "Oops, nothing found!"});
 $(".chosen-select").chosen({no_results_text: "Oops, nothing found!"});
 $(".chosen-select-one").chosen({no_results_text: "Oops, nothing found!"});
 $(".chosen-select-two").chosen({no_results_text: "Oops, nothing found!"});

 //texarea




});



//dropzone


</script>

{% endblock %}