{% extends 'core/bootstrap.html' %}
{% load static %}



{% block title %} 
	Dashboard
{% endblock %}



{% block content %}

<!--vista parcial-->
{% include 'account/navbar.html' %}

<div class="content-wrapper">

    <div class="container-fluid">

      
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">

        <li class="breadcrumb-item">
          <a href="{% url 'account:dashboard' %}">Dashboard</a>
        </li>

        {% block breadcrumb %}

        <li class="breadcrumb-item active">
          Resumen
        </li>

        {% endblock %}

      </ol>


    <div class="jumbotron jumbotron-fluid bg-dark">


      <div class="container">
      
      {% block junbotron %}
      <!--contenido-->

        <div class="row">
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-white bg-primary o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fa fa-fw fa-user"></i>
              </div>
              <div class="mr-5">Usuario {{ user.username }}</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" data-toggle="collapse" href="#usuario-detalles" role="button" aria-expanded="false" aria-controls="usuario-detalles">
              <span class="float-left">Ver detalles</span>
              <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>

        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-white bg-warning o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fa fa-fw fa-list"></i>
              </div>
              <div class="mr-5">Repositorio</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" data-toggle="collapse" href="#repositorio-detalles" role="button" aria-expanded="false" aria-controls="repositorio-detalles">
              <span class="float-left">Ver estado</span>
              <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>

        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-white bg-success o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fa fa-fw fa-shopping-cart"></i>
              </div>
              <div class="mr-5">Añadido Recientemente</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" data-toggle="collapse" href="#recientes" role="button" aria-expanded="false" aria-controls="recientes">
              <span class="float-left">Ver detalles</span>
              <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
        
      </div>


          <div class="row">

          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="collapse" id="usuario-detalles">
            <div class="card text-white bg-Info mb-3" style="max-width: 18rem;">
              <div class="card-header"><i class="fa fa-fw fa-user"></i>&nbsp;&nbsp;Perfil</div>
                <div class="card-body">
                    <p class="card-text">
                      Nombre: {{ user.first_name }}
                      <br>
                      Apellido: {{ user.last_name }}
                      <br>
                      Correo: {{ user.email }}
                      {% if user.is_superuser == True %}
                      Tipo: Super Usuario
                      {% else %}
                      Tipo: Administrador
                      {% endif %}
                    </p>
                    
                </div>
            </div>
          </div>

          </div>

          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="collapse" id="repositorio-detalles">
            <div class="card text-white bg-Info mb-3" style="max-width: 18rem;">
              <div class="card-header"><i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;&nbsp;Resumen</div>
                <div class="card-body">
     
                    <p class="card-text">
                      <i class="fa fa-fw fa-table"></i>&nbsp;
                      Colecciones: {{ registros.total_colecciones }}
                      <br>
                      <i class="fa fa-fw fa-book"></i>&nbsp;
                      Recursos digitales: {{ registros.total_items }}
                      <br>
                      <i class="fa fa-fw fa-key"></i>&nbsp;
                      Tipos de items: {{ registros.total_tipos_items }}
                      <br>
                      <i class="fa fa-fw fa-tags"></i>&nbsp;
                      Tags: {{ registros.total_tags }}
                      <br>
                      <i class="fa fa-fw fa-th-list"></i>&nbsp;
                      Categorias: {{ registros.total_categorias }}
                      <br>
                      <i class="fa fa-fw fa-file-o"></i>&nbsp;
                      Temas: {{ registros.total_temas }}
                      <br>
                      <i class="fa fa-fw fa-user"></i>&nbsp;
                      Usuarios: {{ registros.total_usuarios }}
                    </p>
                    
                </div>
            </div>
          </div>
          </div>

          </div>



          <div class="collapse" id="recientes">

            <div class="row">

              {% if reciente.category_r != null %}

              <div class="col-sm-6">
                <div class="card text-white">
                  <div class="card-header">
                    <i class="fa fa-fw fa-th-list"></i>&nbsp;
                    Categorias
                  </div>

                  <div class="card-body">
                    {% for category in reciente.category_r %}
                    <a href="{% url 'grabber:category_detail' category.id %}" class="card-text">
                    {{category.nombre}}&nbsp;&nbsp;--&nbsp;&nbsp;{{category.publicado}}
                    &nbsp;&nbsp;--&nbsp;&nbsp;{{category.publicado|timesince}}
                    </a>
                    <hr class="border-success">
                    {% endfor %}
                  </div>
                </div>
              </div>
              {% else %}
              <!---->
              {% endif %}

              {% if reciente.collection_r != null %}

              <div class="col-sm-6">
                <div class="card text-white">
                  <div class="card-header">
                    <i class="fa fa-fw fa-table"></i>&nbsp;
                    Colecciones
                  </div>
      
                  <div class="card-body">
                    {% for collection in reciente.collection_r %}
                    <a href="{% url 'grabber:collection_detail' collection.id %}" class="card-text">
                    {{collection.nombre}}&nbsp;&nbsp;--&nbsp;&nbsp;{{collection.publicado}}
                    &nbsp;&nbsp;--&nbsp;&nbsp;{{collection.publicado|timesince}}
                    </a>
                    <hr class="border-success">
                    {% endfor %}
                  </div>
                </div>
              </div>
              {% else %}
              <!---->
              {% endif %}
            </div>

            <br>

          <div class="row">

            {% if reciente.item_r != null %}

            <div class="col-sm-6">
              <div class="card text-white">

                <div class="card-header">
                  <i class="fa fa-fw fa-book"></i>&nbsp;
                  Recursos Digitales
                </div>

                <div class="card-body">
                  {% for item in reciente.item_r %}
                  <a href="{% url 'grabber:item_detail' item.id %}" class="card-text">
                  {{item.nombre}}&nbsp;&nbsp;--&nbsp;&nbsp;{{item.publicado}}
                  &nbsp;&nbsp;--&nbsp;&nbsp;{{item.publicado|timesince}}
                  </a>
                  <hr class="border-success">
                  {% endfor %}
                </div>
              </div>
            </div>
            {% else %}
            <!---->
            {% endif %}

            {% if reciente.theme_r != null %}

            <div class="col-sm-6">
              <div class="card text-white">
                <div class="card-header">
                  <i class="fa fa-fw fa-file-o"></i>&nbsp;
                  Tematicas
                </div>

                <div class="card-body">
                  {% for tema in reciente.theme_r %}
                  <a href="{% url 'grabber:theme_detail' tema.id %}" class="card-text">
                  {{tema.nombre}}&nbsp;&nbsp;--&nbsp;&nbsp;{{tema.publicado}}
                  &nbsp;&nbsp;--&nbsp;&nbsp;{{tema.publicado|timesince}}
                  </a>
                  <hr class="border-success">
                {% endfor %}
                </div>
              </div>
            </div>
            {% else %}
            <!---->
            {% endif %}

          </div>

          <br>

          <div class="row">

            {% if reciente.itemtype_r != null %}

            <div class="col-sm-6">
              <div class="card text-white">
                <div class="card-header">
                  <i class="fa fa-fw fa-key"></i>&nbsp;
                  Tipos de recursos digitales
                </div>
      
                <div class="card-body">
                  {% for item in reciente.itemtype_r %}
                  <a href="{% url 'grabber:item_type_detail' item.id %}" class="card-text">
                  {{item.nombre}}&nbsp;&nbsp;--&nbsp;&nbsp;{{item.publicado}}
                  &nbsp;&nbsp;--&nbsp;&nbsp;{{item.publicado|timesince}}
                  </a>
                  <hr class="border-success">
                  {% endfor %}
                </div>
              </div>
            </div>
            {% else %}
            <!---->
            {% endif %}

          </div>
     
          {% endblock %}
        </div>
    </div>
      

<!--vista parcial-->
{% include 'account/footer.html' %} 

      </div>
  </div>
</div>

{% endblock %}

{% block extrajs %}

<script type="text/javascript">

$(document).ready(function(){
  
 //chosen ->select
 $(".chosen-select-t").chosen({no_results_text: "Oops, nothing found!"});
 $(".chosen-select").chosen({no_results_text: "Oops, nothing found!"});
 $(".chosen-select-one").chosen({no_results_text: "Oops, nothing found!"});
 $(".chosen-select-two").chosen({no_results_text: "Oops, nothing found!"});

 //texarea




});



//dropzone


</script>

{% endblock %}