{% extends 'account/base.html' %}

{% block breadcrumb %}

  <li class="breadcrumb-item active">
    Agregar
  </li>

{% endblock %}


{% block junbotron %}

<div class="container">

<div class="row">

<div class="col-sm">
  <div class="card border-success mb-3" style="max-width: 18rem;">
    <div class="card-header bg-transparent border-success">Registrados:&nbsp;{{ registros.total_categorias }}
    </div>
      <div class="card-body text-success">
        <h5 class="card-title">Categoria</h5>
        <p class="card-text"></p>
      </div>

<div class="card-footer bg-transparent border-success">
      
  <a class="btn btn-primary" data-toggle="collapse" href="#collapse1" role="button" aria-expanded="false" aria-controls="collapseExample">
    info
  </a>

  <a href="{% url 'grabber:category_create' %}" class="btn btn-outline-success text-success">
    Crear
  </a>

  <a class="btn btn-outline-info" data-toggle="collapse" href="#collapse2" role="button" aria-expanded="false" aria-controls="collapseExample">
    Relacion
  </a>

  <div class="collapse" id="collapse1">
    <div class="card card-body text-success">
      Elemento a utilizar, cuando se desea clasificar un conjunto de items que posee un gran volumen numerico
    </div>
  </div>

  <div class="collapse" id="collapse2">
    <div class="card card-body text-success">
      Categoria <-- Colecciones 
    </div>
  </div>

</div>

  </div>
</div>

<div class="col-sm">
  <div class="card border-success mb-3" style="max-width: 18rem;">
    <div class="card-header bg-transparent border-success">Registrados:&nbsp;{{ registros.total_colecciones }}</div>
      <div class="card-body text-success">
        <h5 class="card-title">Coleccion</h5>
        <p class="card-text"></p>
      </div>

<div class="card-footer bg-transparent border-success">
      
  <a class="btn btn-primary" data-toggle="collapse" href="#collapse21" role="button" aria-expanded="false" aria-controls="collapseExample">
    info
  </a>

  <a href="{% url 'grabber:collection_create' %}" class="btn btn-outline-success text-success">
    Crear
  </a>

  <a class="btn btn-outline-info" data-toggle="collapse" href="#collapse22" role="button" aria-expanded="false" aria-controls="collapseExample">
    Relacion
  </a>

  <div class="collapse" id="collapse21">
    <div class="card card-body text-success">
      Elemento a utilizar, para agrupar items en base a uno o varios atributos
    </div>
  </div>

  <div class="collapse" id="collapse22">
    <div class="card card-body text-success">
      Categoria <-- Colecciones <br> Coleccion <-- Items
    </div>
  </div>

</div>

  </div>
</div>


<div class="col-sm">
  <div class="card border-warning mb-3" style="max-width: 18rem;">
    <div class="card-header bg-transparent border-warning">Registrados:&nbsp;{{ registros.total_items }}</div>
      <div class="card-body text-warning">
        <h5 class="card-title">Item</h5>
        <p class="card-text"></p>
      </div>

<div class="card-footer bg-transparent border-warning">
      
  <a class="btn btn-primary" data-toggle="collapse" href="#collapse31" role="button" aria-expanded="false" aria-controls="collapseExample">
    info
  </a>

  <a href="{% url 'grabber:item_create' %}" class="btn btn-outline-success text-success">
    Crear
  </a>

  <a class="btn btn-outline-info" data-toggle="collapse" href="#collapse32" role="button" aria-expanded="false" aria-controls="collapseExample">
    Relacion
  </a>

  <div class="collapse" id="collapse31">
    <div class="card card-body text-warning">
      Elemento contenedor del recurso digital que se desea almacenar
    </div>
  </div>

  <div class="collapse" id="collapse32">
    <div class="card card-body text-warning">
      Item <-- Tipo <br> Item <-- Tema <br> Item <-- Tags
    </div>
  </div>

</div>

  </div>
</div>

</div>

<br>
<br>

<div class="row">


<div class="col-sm">

  <div class="card border-info mb-3" style="max-width: 18rem;">
    <div class="card-header bg-transparent border-info">Registrados:&nbsp;{{ registros.total_temas }}</div>
      <div class="card-body text-info">
        <h5 class="card-title">Tema</h5>
        <p class="card-text"></p>
      </div>

  <div class="card-footer bg-transparent border-info">
      
  <a class="btn btn-primary" data-toggle="collapse" href="#collapse41" role="button" aria-expanded="false" aria-controls="collapseExample">
    info
  </a>

  <a href="{% url 'grabber:theme_create' %}" class="btn btn-outline-success text-success">
    Crear
  </a>

  <a class="btn btn-outline-info" data-toggle="collapse" href="#collapse42" role="button" aria-expanded="false" aria-controls="collapseExample">
    Relacion
  </a>

  <div class="collapse" id="collapse41">
    <div class="card card-body text-info">
      Texto que contiene el asunto principal que ocupa, el recurso digital 
    </div>
  </div>

  <div class="collapse" id="collapse42">
    <div class="card card-body text-info">
      Tema <-- Item <br> Tema <-- Coleccion
    </div>
  </div>

  </div>
</div>

</div>


<div class="col-sm">

  <div class="card border-info mb-3" style="max-width: 18rem;">
    <div class="card-header bg-transparent border-info">Registrados:&nbsp;{{ registros.total_tipos_items }}</div>
      <div class="card-body text-info">
        <h5 class="card-title">Tipo de item</h5>
        <p class="card-text"></p>
      </div>

  <div class="card-footer bg-transparent border-info">
      
  <a class="btn btn-primary" data-toggle="collapse" href="#collapse51" role="button" aria-expanded="false" aria-controls="collapseExample">
    info
  </a>

  <a href="{% url 'grabber:item_type_create' %}" class="btn btn-outline-success text-success">
    Crear
  </a>

  <a class="btn btn-outline-info" data-toggle="collapse" href="#collapse52" role="button" aria-expanded="false" aria-controls="collapseExample">
    Relacion
  </a>

  <div class="collapse" id="collapse51">
    <div class="card card-body text-info">
      Elemento a usar como modelo para clasificar el recurso digital, basado en el procedimiento necesario para ejecutarlo o interpretarlo
    </div>
  </div>

  <div class="collapse" id="collapse52">
    <div class="card card-body text-info">
      Tipo <-- Item 
    </div>
  </div>

  </div>
</div>

</div>


<div class="col-sm">

  <div class="card border-info mb-3" style="max-width: 18rem;">
    <div class="card-header bg-transparent border-info">Registrados:&nbsp;{{ registros.total_tags }}</div>
      <div class="card-body text-info">
        <h5 class="card-title">Tag</h5>
        <p class="card-text"></p>
      </div>

  <div class="card-footer bg-transparent border-info">
      
  <a class="btn btn-primary" data-toggle="collapse" href="#collapse61" role="button" aria-expanded="false" aria-controls="collapseExample">
    info
  </a>

  <a href="{% url 'grabber:tag_create' %}" class="btn btn-outline-success text-success">
    Crear
  </a>

  <a class="btn btn-outline-info" data-toggle="collapse" href="#collapse62" role="button" aria-expanded="false" aria-controls="collapseExample">
    Relacion
  </a>

  <div class="collapse" id="collapse61">
    <div class="card card-body text-success">
      Conjunto de palabras claves que se encuentran asociadas a un item, para definir más detalladamente el contenido
    </div>
  </div>

  <div class="collapse" id="collapse62">
    <div class="card card-body text-info">
      Item <-- Tags
    </div>
  </div>

  </div>
</div>

</div>

</div>


{% endblock %}