{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">

    <a class="navbar-brand" href="">
    <img src="{% static 'icon/bootstrap-solid.svg' %}" width="30" height="30" class="d-inline-block align-top" alt="">
    Bootstrap
    </a>

    <a class="nav-link bg-primary text-light" href="{% url 'grabber:enter_data' %}">Agregar elemento</a>

    <a class="nav-link bg-primary text-light" href="{% url 'grabber:autocomplete_search' %}">Buscar elemento</a>

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">

      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">

        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="{% url 'account:dashboard' %}">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text text-danger">Dashboard</span>
          </a>
        </li>

        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Categorias">

          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti1" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-th-list"></i>
            <span class="nav-link-text text-success">Categoria</span>
          </a>

          <ul class="sidenav-second-level collapse" id="collapseMulti1">
            
            <li>
              <a class="text-success" href="{% url 'grabber:category_list' %}">Listar</a>
            </li>
   
          </ul>

        </li>

        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Items">

          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti3" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-table"></i>
            <span class="nav-link-text text-success">Coleccion</span>
          </a>

          <ul class="sidenav-second-level collapse" id="collapseMulti3">

            <li>
                <a class="text-success" href="{% url 'grabber:collection_list' %}">Listar</a>
            </li>
         
          </ul>

        </li>

        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Items">

          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti4" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-book"></i>
            <span class="nav-link-text text-warning">Recurso digital</span>
          </a>

          <ul class="sidenav-second-level collapse" id="collapseMulti4">

            <li>
              <a class="text-warning" href="{% url 'grabber:item_list' %}">Listar</a>
            </li>
         
          </ul>

        </li>

        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Temas">

          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti5" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-gears"></i>
            <span class="nav-link-text text-info">Metadatos</span>
          </a>

          <ul class="sidenav-second-level collapse" id="collapseMulti5">

            <li>
              <a class="nav-link-collapse collapsed text-info" data-toggle="collapse" href="#collapseMulti51"><i class="fa fa-fw fa-file-o"></i>Tema</a>
              <ul class="sidenav-third-level collapse" id="collapseMulti51">

                <li>
                  <a class="text-info" href="{% url 'grabber:theme_list' %}">Listar</a>
                </li>
       
              </ul>
            </li>

            <li>
              <a class="nav-link-collapse collapsed text-info" data-toggle="collapse" href="#collapseMulti52"><i class="fa fa-fw fa-key"></i>Tipo de item</a>
              <ul class="sidenav-third-level collapse" id="collapseMulti52">

                <li>
                  <a class="text-info" href="{% url 'grabber:item_type_list' %}">Listar</a>
                </li> 

              </ul>
            </li>

            <li>
              <a class="nav-link-collapse collapsed text-info" data-toggle="collapse" href="#collapseMulti53"><i class="fa fa-fw fa-tags"></i>Tags</a>
              <ul class="sidenav-third-level collapse" id="collapseMulti53">

                <li>
                  <a class="text-info" href="{% url 'grabber:tag_list' %}">Listar</a>
                </li> 
       
              </ul>
            </li>
         
          </ul>

        </li>

        {% if user.is_superuser == True %}
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Usuarios">

          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti6" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-user"></i>
            <span class="nav-link-text text-Light">Usuario</span>
          </a>

          <ul class="sidenav-second-level collapse" id="collapseMulti6">

            <li>
                <a class="text-light" href="{% url 'account:user_list' %}">Listar</a>
            </li>

            <li>
                <a class="text-light" href="{% url 'account:user_create' %}">Registrar</a>
            </li>
         
          </ul>

        </li>
        {% else %}
        <!---->
        {% endif %}

        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Configurar">
          <a class="nav-link">
            <i class="fa fa-fw fa-wrench"></i>
            <span class="nav-link-text">Proximamente</span>
          </a>
        </li>

        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Pagina Principal">
          <a class="nav-link" href="{% url 'index' %}">
            <i class="fa fa-fw fa-link"></i>
            <span class="nav-link-text">Ver sitio</span>
          </a>
        </li>

      </ul>

      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
   
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-fw fa-sign-out"></i>Cerrar sesión</a>
        </li>

      </ul>

    </div>
</nav>

  <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">¿Listo para salir?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Seleccione "Cerrar sesión" a continuación si está listo para finalizar su sesión actual.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
            <a class="btn btn-primary" href="{% url 'logout' %}">Cerrar sesión</a>
          </div>
        </div>
      </div>
    </div>

