{% extends 'core/base-m.html' %}


{% block breadcrumb %}
<a class="breadcrumb">Busqueda</a>
<a class="breadcrumb">Tematica</a>     
{% endblock %}

{% block add %}

<nav class="black">
    <div class="nav-wrapper">
      <form action="{% url 'seeker:theme_letters' %}" method="GET">
        {% csrf_token %}
        <div class="input-field">
          <input name="q" placeholder="Busqueda" id="search" type="search" required>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
</nav>

<br>
<br>

{% include 'seeker/theme/list.html' %}

<br>
<br>

{% endblock %}