{% extends 'core/base-m.html' %}
{% load static %}

{% block breadcrumb %}

<a class="breadcrumb">Detalles</a>
<a class="breadcrumb">Tema</a> 

{% endblock %}

{% block add %}

<!-- Dropdown Trigger -->
<a class='dropdown-trigger btn black tooltipped' data-target='dropdown1' data-position="right" data-tooltip="Registros actuales">
  <i class="material-icons left">add_box</i>
  Detalles
</a>

<!-- Dropdown Structure -->
<ul id='dropdown1' class='dropdown-content'>
  <li>
    <a class="black-text tooltipped" data-position="right" data-tooltip="Recursos Disponibles">
      <i class="material-icons">view_module</i>
      {{ theme.items_asignados }}
    </a>
  </li>
  <li>
    <a href="{% url 'seeker:theme_collections' theme.id %}" class="black-text tooltipped" data-position="right" data-tooltip="Listar colecciones">
      <i class="material-icons">work</i>
      {{ theme.collections_asignados }}
    </a>
  </li>
</ul>

<ul class="collapsible" data-collapsible="accordion">
    
    <li>
      <div class="collapsible-header black white-text"><i class="material-icons">dashboard</i> {{ theme.nombre }} </div>
      
    </li>

    <li>
      <div class="collapsible-header indigo darken-4 white-text"><i class="material-icons">assignment_late</i>Descripcion</div>
      <div class="collapsible-body">{{ theme.descripcion }}</div>
    </li>

    {% if theme.dirigido_a != null %}
    <li>
      <div class="collapsible-header indigo darken-4 white-text"><i class="material-icons">assignment_ind</i>Dirigido</div>
      <div class="collapsible-body ">
        {{ theme.dirigido_a }}
      </div>
    </li>
    {% else %}
    <!---->
    {% endif %}

    {% if theme.metadato_2 != null %}
    <li>
      <div class="collapsible-header indigo darken-4 white-text"><i class="material-icons">assignment_ind</i>metadato_2</div>
      <div class="collapsible-body ">
        {{ theme.metadato_2 }}
      </div>
    </li>
    {% else %}
    <!---->
    {% endif %}

    {% if theme.metadato_3 != null %}
    <li>
      <div class="collapsible-header indigo darken-4 white-text"><i class="material-icons">assignment_ind</i>metadato_3</div>
      <div class="collapsible-body ">
        {{ theme.metadato_3 }}
      </div>
    </li>
    {% else %}
    <!---->
    {% endif %}


</ul>

{% endblock %}