{% if object_list %}

{% for tema in object_list %}

<ul class="collapsible popout" data-collapsible="accordion">

    <li>
      <div class="collapsible-header indigo darken-3 white-text text-white">
        <i class="material-icons">content_paste</i>
              {{ tema.nombre }} 
      </div>

      <div class="collapsible-body">
        <ul class="collection">

          <ul class="collection with-header">
            <li class="collection-item">{{ tema.descripcion }}</li>
            {% if tema.dirigido_a != null %}
            <li class="collection-item">Dirigido A:&nbsp;{{ tema.dirigido_a }}</li>
            {% else %}
            <!---->
            {% endif %}
            {% if tema.metadato_2 != null %}
            <li class="collection-item">{{ tema.metadato_2 }}</li>
            {% else %}
            <!---->
            {% endif %}
            {% if tema.metadato_3 != null %}
            <li class="collection-item">{{ tema.metadato_3 }}</li>
            {% else %}
            <!---->
            {% endif %}
          </ul>
          
          <br>
          <a href="{% url 'seeker:theme_collections' tema.id %}" class="waves-effect waves-light btn black tooltipped" data-position="right" data-tooltip="Listar">
            <i class="material-icons left">send</i>
              Colecciones
          </a>

          <a href="{% url 'seeker:theme_pk' tema.id %}" class="waves-effect waves-light btn black tooltipped" data-position="right" data-tooltip="Detalles">
            <i class="material-icons left">add_box</i>
              
          </a>

        </ul>
      </div>

    </li>
</ul>

{% endfor %}

{% else %}
<p>No hay registros.</p>
{% endif %}