{% extends 'account/base.html' %}

{% block breadcrumb %}

  <li class="breadcrumb-item active">
    usuario
  </li>

  <li class="breadcrumb-item active">
    Estado
  </li>

{% endblock %}


{% block junbotron %}

<h1>Usuario</h1>

<form method="post">

<!--token seguridad-->
{% csrf_token %}

<br>
<hr class="border-success">

<h2>Datos</h2>


  <div class="form-group row">

    <label for="{{ form.is_active.label }}" class="col-sm-2 col-form-label col-form-label-lg">Activar</label>

    <div class="col-sm-10">
      {{ form.is_active }}
    </div>

  </div>

  <button class="btn btn-primary" type="submit">Guardar</button> 

<br>
<hr class="border-success">

</form>



{% endblock %}