{% extends 'account/base.html' %}

{% block breadcrumb %}

  <li class="breadcrumb-item active">
    usuario
  </li>

  <li class="breadcrumb-item active">
    Detalles
  </li>

{% endblock %}


{% block junbotron %}


<div class="card">
  <div class="card-header text-success">
    Usuario
  </div>
  <div class="card-body">
    <h5 class="card-title">Nombre de usuario:&nbsp;{{ user.username }}</h5>
    <h5 class="card-title">Nombre:&nbsp;{{ user.first_name }}</h5>
    <h5 class="card-title">Apellido:&nbsp;{{ user.last_name }}</h5>
    <h5 class="card-title">Correo Electronico:&nbsp;{{ user.email }}</h5>
    {% if user.is_active == True %}
    <h5 class="card-title text-success">Estado:&nbsp;Activo</h5>
    {% else %}
    <h5 class="card-title text-danger">Estado:&nbsp;Inactivo</h5>
    {% endif%}
    
    <a href="{% url 'account:user_update' user.id %}" class="btn btn-primary">Modificar</a>
  </div>
</div>

<br>

<div class="card">
  <div class="card-header">
    Registros
  </div>
  <div class="card-body">
    <p>Ultimo inicio de sesion:&nbsp;{{ user.last_login }} </p>
    <blockquote class="blockquote mb-0">
      <footer class="blockquote-footer">registrado desde<cite title="Source Title">&nbsp;{{ user.date_joined }}</cite></footer>
    </blockquote>
  </div>
</div>

<br>


{% endblock %}