{% extends 'core/base-m.html' %}
{% load static %}

{% block breadcrumb %}

<a class="breadcrumb">Busqueda</a>
<a class="breadcrumb">Autor</a> 

{% endblock %}

{% block add %}

<nav class="black">
    <div class="nav-wrapper">
        <form action="{% url 'seeker:search_author' %}" method="GET">
            <div class="input-field">
              <input name="q" id="search" placeholder="Nombre" type="search" required>
                  <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                  <i class="material-icons">close</i>
            </div>
        </form>
    </div>
</nav>

<br>
<br>

{% if object_list %}

<table class="highlight centered responsive-table">
    
    <thead>
      <tr>
        <th>Autores</th>     
      </tr>

    </thead>

    <tbody>

      {% for elemento in object_list %}
      <tr>
        <td>{{ elemento.autor }}</td>     
      </tr>
      {% endfor %}

    </tbody>

</table>


{% include 'includes/pagination-m.html' %}

{% else %}
<p>No se encontro registro</p>
{% endif %}        

<br>
<br>

{% endblock %}