{% extends 'core/base-m.html' %}


{% block breadcrumb %}

<a class="breadcrumb">Informacion</a>
<a class="breadcrumb">Repositorio</a>

{% endblock %}

{% block add %}

<div class="col s12 m5">
    
    <div class="card-panel  indigo darken-3 z-depth-5">
      
        <p class="white-text">
            texto que contendra informacion adicional de la UNEFA / UNEFA Virtual
        </p>

          <br>
          <br>
          <br>
        
          
        </div>
</div>


<br>
<br>
<br>

{% endblock %}