{# vista listar y ordenar actualmente descartado #}

<!-- Dropdown Trigger -->

<a class='dropdown-trigger btn black tooltipped' data-target='dropdown1' data-position="right" data-delay="50" data-tooltip="Seleccione">
  <i class="material-icons">create</i>  
</a>

  <!-- Dropdown Structure -->
<ul id='dropdown1' class='dropdown-content'>

    <li><a class="text-black black-text ">Listar</a></li>
    
    <li class="divider"></li>

    <li><a class="text-black black-text tooltipped" href="#!" data-activates='dropdown1' data-position="right" data-delay="50" data-tooltip="Titulo">
      <i class="material-icons">announcement</i></a>
    </li>

    <li><a class="text-black black-text tooltipped" href="#!" data-activates='dropdown1' data-position="right" data-delay="50" data-tooltip="Tema">
      <i class="material-icons">card_travel</i></a>
    </li>

    <li><a class="text-black black-text tooltipped" href="#!" data-activates='dropdown1' data-position="right" data-delay="50" data-tooltip="Autor">
      <i class="material-icons">contact_mail</i></a>
    </li>

</ul>

