{% extends 'core/base-m.html' %}
{% load static %}


{% block breadcrumb %}
<a class="breadcrumb">Añadido recientemente</a>
{% endblock %}

{% block add %}



<div class="row">

{% for item in registros.ultimos %}
    <div class="col s12 m3">
      <div class="card z-depth-5">
        <div class="card-image">
          <img src="{% static 'images/reciente/recurso_digital-min.jpg' %}">
          
          <a href="{% url 'seeker:item_pk' item.id %}" class="btn-floating halfway-fab waves-effect waves-light red pulse">
            <i class="material-icons">add</i>
          </a>

        </div>
        <div class="card-content black">
          <p class="white-text">Nombre:{{ item.nombre }}
            <br>
            registrado hace
            {{ item.publicado|timesince }}
          </p>
        </div>
      </div>
    </div>


{% endfor %}

</div>

<div class="row">
    
{% for coleccion in registros.ultimos_c %}
 <div class="col s6 m6">


        <div class="card small z-depth-5">

            <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator responsive-img" src="{% static 'images/reciente/coleccion-min.jpg' %}" alt="sin imagen">
            </div>

          <div class="card-content indigo darken-4">
              <span class="card-title activator white-text">Coleccion:&nbsp;{{ coleccion.nombre }}<i class="material-icons right ">more_vert</i></span>
          </div>

          <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Coleccion:&nbsp;{{ coleccion.nombre }}  <i class="material-icons right">close</i></span>
                
                <p>
                  Descripcion:{{ coleccion.descripcion }}
                  <br>
                  Publicado:&nbsp;{{ coleccion.publicado|timesince }} 
                </p>

          </div>

          <div class="card-action black">
            <a href="{% url 'seeker:collection_pk' coleccion.id %}" class="white-text text-white" >Detalles</a>
            <a href="{% url 'seeker:search_collection_items' coleccion.id %}" class="white-text text-white" >Recursos</a>
          </div>

        </div>
 
</div>
{% endfor %}

</div>



{% endblock %}

