{% extends 'account/base.html' %}

{% block breadcrumb %}

  <li class="breadcrumb-item active">
    tag
  </li>

  <li class="breadcrumb-item active">
    Detalles
  </li>

{% endblock %}


{% block junbotron %}


<div class="card">
  <div class="card-header text-success">
    Categoria
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ tag.nombre }}</h5>
    <a href="{% url 'grabber:tag_update' tag.id %}" class="btn btn-primary">Modificar</a>
  </div>
</div>

<br>



<br>


{% endblock %}