{% extends 'core/base-m.html' %}
{% load static %}

{% block extracss %}
<!--chosen-->
<link href="{% static 'plugin/chosen/chosen.min.css' %}" rel="stylesheet">
{% endblock %}


{% block breadcrumb %}
<a class="breadcrumb">Busqueda</a>
<a class="breadcrumb">Etiquetas</a>     
{% endblock %}

{% block add %}

<div class="chips chips-autocomplete">
  
</div>

<form action="" method="GET">



</form>

{% endblock %}



{% block extrajs %}

<!-- chosen -->
<script src="{% static 'plugin/chosen/chosen.jquery.min.js' %}"></script>

<script type="text/javascript">


  $(document).ready(function(){
  
  	$(".chosen-select").chosen({no_results_text: "Oops, nothing found!"});
  });


</script>

{% endblock %}