<footer class="page-footer black">

  <div class="container">

      <div class="row">

        <div class="col l6 s12">
            <h5 class="white-text">Contenido Footer</h5> 
                <p class="grey-text text-lighten-4">
                  Organizar informacion
                </p>
        </div>
        
        <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Paginas</h5>
              
              <ul>
                <li>
                  <a class="grey-text text-lighten-3" href="http://www.unefa.edu.ve/portal/">
                    UNEFA
                  </a>
                </li>
                <li>
                  <a class="grey-text text-lighten-3" href="http://seadu.unefa.edu.ve/">
                    UNEFA-VIRTUAL
                  </a>
                </li>
                <li>
                  <a class="grey-text text-lighten-3" href="https://www.djangoproject.com/">
                    Django-Framework
                  </a>
                </li>
                <li>
                  <a class="grey-text text-lighten-3" href="http://materializecss.com/">
                    Materialize
                  </a>
                </li>
                <li>
                  <a class="grey-text text-lighten-3" href="https://getbootstrap.com/">
                    Bootstrap
                  </a>
                </li>
                <li>
                  <a class="grey-text text-lighten-3" href="https://vuejs.org/>Vue.js">
                    Vue.js
                  </a>
                </li> 
              </ul>
        </div>

      </div>
  </div>

  <div class="footer-copyright grey darken-4">
      <div class="container">
        © 2018 UNEFA-VIRTUAL 
          <a class="grey-text text-lighten-4 right" href="#!">Link</a>
      </div>
  </div>

</footer>