{# Cargas estilos y javascrit #}
{% load static %}

<ul id="nav-mobile" class="sidenav sidenav-fixed indigo darken-4">

  <!--logo unefa-->
  <li class="logo">
      <a href="{% url 'index' %}" class="brand-logo">
      <img class="responsive-img" src="{% static 'icon/gif/unefalogo-min.gif' %}" width="200" height="200" alt="escudos_unefa"></a>
  </li>

  <br>

  <li class="no-padding">
          
        <ul class="collapsible collapsible-accordion">
            
          <li class="bold">

              <a class="collapsible-header indigo darken-4 waves-effect waves-red white-text text-white">
                <i class="material-icons left white-text text-white">more</i>Informacion
              </a>
                  
          <div class="collapsible-body">
            
            <ul>
                 
              <li>
                  <a href="{% url 'seeker:info' %}" class="waves-effect waves-red">
                    <i class="material-icons">home</i>
                      Repositorio
                  </a>
              </li>
           
                        
            </ul>
          </div>

          </li>

        </ul>
  </li>

  <li class="no-padding">

      <ul class="collapsible collapsible-accordion">

        <li class="bold">

            <a class="collapsible-header indigo darken-4 waves-effect waves-red white-text text-white">
              <i class="material-icons left white-text text-white">work</i>Colecciones
            </a>

            <div class="collapsible-body">
              
              <ul>

                <li>
                  <a href="{% url 'seeker:title_base' %}" class="waves-effect waves-red">
                    <i class="material-icons">keyboard_hide</i>
                      Titulo
                  </a>
                </li>

                <li>
                  <a href="{% url 'seeker:category_base' %}" class="waves-effect waves-red">
                    <i class="material-icons">description</i>
                      Categoria
                  </a>
                </li>

                <li>
                  <a href="{% url 'seeker:theme_base' %}" class="waves-effect waves-red">
                    <i class="material-icons">content_paste</i>
                      Tematica
                  </a>
                </li>

                <li>
                    <a href="{% url 'seeker:author_base' %}" class="waves-effect waves-red">
                      <i class="material-icons">account_box</i>
                      Autor
                    </a>
                </li>

                <li>
                  <a href="{% url 'seeker:recent_items' %}" class="waves-effect waves-red">
                    <i class="material-icons">next_week</i>
                      Recientes
                  </a>
                </li>


                <li>
                  <a class="waves-effect waves-red tooltipped" data-position="bottom" data-delay="50" data-tooltip="Nuevo filtro para busqueda">
                    <i class="material-icons">extension</i>
                      Proximamente
                  </a>
                </li>
  
              </ul>

            </div>
                  
        </li>

      </ul>
  </li>

  <li class="no-padding">

      <ul class="collapsible collapsible-accordion">

          <li class="bold">

              <a class="collapsible-header indigo darken-4 waves-effect waves-red white-text text-white">
                <i class="material-icons left white-text text-white">assignment_ind</i>Admin
              </a>
              
              <div class="collapsible-body">
                  
                  <ul>
                      {% if user.is_authenticated %}
                      <li>
                        <a href="{% url 'admin:index' %}" class="waves-effect waves-red">
                            <i class="material-icons">contact_mail</i>
                            {{ user.username }}-> Admin v1
                        </a>
                      </li>
                      <li>
                        <a href="{% url 'account:dashboard' %}" class="waves-effect waves-red">
                            <i class="material-icons">contact_mail</i>
                            {{ user.username }}-> Admin v2
                        </a>
                      </li>
                      {% else %}
                      <li>
                        <a href="{% url 'admin:index' %}" class="waves-effect waves-red tooltipped" data-position="bottom" data-tooltip="Pruebas ingreso de data">
                          <i class="material-icons">backspace</i>
                              Version 1
                        </a>
                      </li>
                      <li>
                        <a href="{% url 'login' %}" class="waves-effect waves-red tooltipped" data-position="bottom" data-tooltip="Version Beta">
                          <i class="material-icons">dashboard</i>
                            Version 2
                        </a>
                      </li>
                      {% endif %}
                  </ul>
              </div>

          </li>
      </ul>

   </li>

   <li class="no-padding">
          
        <ul class="collapsible collapsible-accordion">
            
          <li class="bold">

              <a class="collapsible-header indigo darken-4 waves-effect waves-red white-text text-white">
                <i class="material-icons left white-text text-white">memory</i>Api
              </a>
                  
          <div class="collapsible-body">
            
            <ul>
                 
              <li>
                  <a href="{% url 'api:api_data' %}" class="waves-effect waves-red">
                    <i class="material-icons">account_balance_wallet</i>
                      Data
                  </a>
              </li>
              <li>
                  <a href="{% url 'api:api_data_links' %}" class="waves-effect waves-red">
                    <i class="material-icons">dns</i>
                      Links
                  </a>
              </li>
                        
            </ul>
          </div>

          </li>

        </ul>
    </li>
      
    <li class="bold">
      <a class="waves-effect waves-red white-text text-white tooltipped" data-position="bottom" data-tooltip="Nueva funcionalidad">
        <i class="material-icons left white-text text-white">extension</i>Proximamente
      </a>
    </li>

    {% if user.is_authenticated %}

    <li class="no-padding">

      <ul class="collapsible collapsible-accordion">

        <li class="bold">

          <a class="collapsible-header indigo darken-4 waves-effect waves-red white-text text-white">
            <i class="material-icons left white-text text-white">android</i>Pruebas
          </a>
          
          <div class="collapsible-body">

              <ul>                
                  <li>
                    <a href="{% url 'seeker:test_records' %}" class="waves-effect waves-red tooltipped" data-position="bottom" data-tooltip="Capacidad de almacenamiento">
                      <i class="material-icons">broken_image</i>
                        Registros de modelos
                    </a>
                  </li>
                  
                  <li>
                    <a href="{% url 'seeker:test_charge' %}" class="waves-effect waves-red tooltipped" data-position="bottom"  data-tooltip="Tiempo de respuesta">
                      <i class="material-icons">flash_on</i>
                        Carga, paginacion
                      </a>
                  </li>          
              </ul>
          </div>

        </li>
      </ul>

    </li>

    {% else %}
    <!---->
    {% endif %}



</ul>