<!--paginado automatico-->
{% if is_paginated %}
<center>
<ul class="pagination">

	{% if page_obj.number > 1 %}
	   <li class="waves-effect"><a href="?page=1"><i class="material-icons">chevron_left</i></a></li>
       <a class="waves-effect waves-light btn indigo darken-4" href="?page=1">
            <i class="material-icons left">fast_rewind</i>
            Primero
        </a>
	{% else %}
       <a class="disabled waves-effect waves-light btn indigo darken-4">
            <i class="material-icons left">fast_rewind</i>
            Primero
       </a>
    {% endif %}

    {% if page_obj.has_previous %}
    <li class="waves-effect"><a href="?page={{ page_obj.previous_page_number }}">{{ page_num }}</a></li>
    {% else %}
    <li class="disabled"><a><i class="material-icons">chevron_left</i></a></li>
    {% endif %}

    {% for page_num in paginator.page_range %}
    	{% if page_obj.number == page_num %}
    	<li class="active indigo darken-4 pulse"><a href="#!">{{ page_num }}</a></li>	
    	{% elif page_num > page_obj.number|add:'-5' and page_num < page_obj.number|add:'5' %}
    	<li class="waves-effect"><a href="?page={{ page_num }}">{{ page_num }}</a></li>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <li class="waves-effect"><a href="?page={{ page_obj.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
    {% else %}
        <li class="disabled"><a><i class="material-icons">chevron_right</i></a></li>
    {% endif %}


    {% if page_obj.number != paginator.num_pages %}
            
        <a class="waves-effect waves-light btn indigo darken-4" href="?page={{ paginator.num_pages }}">
            <i class="material-icons left">fast_forward</i>
            Ultimo
        </a>
       
    {% else %}
        <a class="disabled waves-effect waves-light btn indigo darken-4">
            <i class="material-icons left">fast_forward</i>
            Ultimo
        </a>
    {% endif %}

</ul>

<a class="btn-floating btn-large waves-effect waves-light red pulse">{{ paginator.count }}</a>

<!--paginado funcion-->
{% elif object_list %}

<div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a class="waves-effect waves-light btn indigo darken-4" href="?page=1">
                <i class="material-icons right">fast_rewind</i>
            </a>
            <a class="waves-effect waves-light btn indigo darken-4" href="?page={{ object_list.previous_page_number }}">
                <i class="material-icons right">chevron_left</i>
            </a>
        {% endif %}

        <span class="current">
            Pagina {{ object_list.number }} de {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a class="waves-effect waves-light btn indigo darken-4" href="?page={{ object_list.next_page_number }}">
                <i class="material-icons right">chevron_right</i>
                
            </a>
            <a class="waves-effect waves-light btn indigo darken-4" href="?page={{ object_list.paginator.num_pages }}">
                <i class="material-icons right">fast_forward</i>
                
            </a>
        {% endif %}
    </span>
</div>

{% else %}

{% endif %}

</center>
