{% extends 'account/base.html' %}

{% block breadcrumb %}

  <li class="breadcrumb-item active">
    coleccion
  </li>

  <li class="breadcrumb-item active">
    Detalles
  </li>

{% endblock %}


{% block junbotron %}


<div class="card">
  <div class="card-header text-success">
    Coleccion
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ collection.nombre }}</h5>
    <p class="card-text">{{ collection.first_name }}</p>
    <a href="{% url 'grabber:collection_update' collection.id %}" class="btn btn-primary">Modificar</a>
  </div>
</div>

<br>

<div class="card">
  <div class="card-header">
    Registros
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">

      <footer class="blockquote-footer">creada desde<cite title="Source Title">&nbsp;{{ collection.publicado }}</cite></footer>
    </blockquote>
  </div>
</div>

<br>


{% endblock %}