{% extends 'account/base.html' %}

{% block breadcrumb %}

  <li class="breadcrumb-item active">
    coleccion
  </li>

  <li class="breadcrumb-item active">
    Editar
  </li>

{% endblock %}


{% block junbotron %}


<h1>Coleccion</h1>

<form method="post">

<!--token seguridad-->
{% csrf_token %}

<br>
<hr class="border-success">

<h2>Contenido</h2>

  <div class="form-group row">

    <label for="{{ form.nombre.label }}" class="col-sm-2 col-form-label col-form-label-lg">Nombre</label>

    <div class="col-sm-10">
      {{ form.nombre }}
    </div>

  </div>

  <div class="form-group row">

    <label for="{{ form.descripcion.label }}" class="col-sm-2 col-form-label col-form-label-lg">Descripcion</label>
    
    <div class="col-sm-10">
      {{ form.descripcion }}
    </div>

  </div>

  <div class="form-group row">

    <label for="{{ form.identificador.label }}" class="col-sm-2 col-form-label col-form-label-lg">Identificador</label>
    
    <div class="col-sm-10">
      {{ form.identificador }}
    </div>

  </div>

  <div class="form-group row">

    <label for="{{ form.tema.label }}" class="col-sm-2 col-form-label col-form-label-lg">Tema</label>
    
    <div class="col-sm-10">
      {{ form.tema }}
    </div>

  </div>

<br>
<hr class="border-success">

<h2>Adicional</h2>

  <div class="form-group row">

    <label for="{{ form.url_video.label }}" class="col-sm-2 col-form-label col-form-label-lg">URL VIDEO</label>
    
    <div class="col-sm-10">
      {{ form.url_video }}
    </div>

  </div>

<br>
<hr class="border-success">

<h2>Añadir Coleccion a Categoria</h2>

  <div class="form-group row">

    <label for="{{ form.categorias.label }}" class="col-sm-2 col-form-label col-form-label-lg">Categorias</label>
    
    <div class="col-sm-10">
      {{ form.categorias }}
    </div>

  </div>

<br>
<hr class="border-success">

  <button class="btn btn-primary" type="submit">Guardar</button> 


</form>

{% endblock %}

