{% extends 'account/base.html' %}

{% block breadcrumb %}

  <li class="breadcrumb-item active">
    Tematica
  </li>

  <li class="breadcrumb-item active">
    Detalles
  </li>

{% endblock %}


{% block junbotron %}


<div class="card">
  <div class="card-header text-success">
    Tematica
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ theme.nombre }}</h5>
    <p class="card-text">{{ theme.descripcion }}</p>
    <a href="{% url 'grabber:theme_update' theme.id %}" class="btn btn-primary">Modificar</a>
  </div>
</div>

<br>

<div class="card">
  <div class="card-header">
    Registros
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">

      <footer class="blockquote-footer">creada desde<cite title="Source Title">&nbsp;{{ theme.publicado }}</cite></footer>
      <footer class="blockquote-footer">ultima actualizacion<cite title="Source Title">&nbsp;{{ theme.actualizado }}</cite></footer>
    </blockquote>
  </div>
</div>

<br>

<div class="card">

  <div class="card-header">
    Recursos digitales
  </div>

  <div class="card-body">

<div class="table-responsive">

<table id="tabla-c" class="table table-hover table-bordered">

  <thead>
    <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>Detalles</th>
    </tr>
  </thead>

  <tbody>
    {% for item in theme.items_registrados %}
    <tr>
      <th>{{ item.id }}</th>
      <th>{{ item.nombre }}</th>
      <th>
        <a href="{% url 'grabber:item_detail' item.id %}" class="btn btn-outline-info">
          <i class="fa fa-fw fa-check"></i>
        </a>
      </th>
    </tr>
    {% endfor %}
  </tbody>

</table>
</div>

  </div>
</div>

<hr>

<div class="card">

  <div class="card-header">
    Colecciones
  </div>

  <div class="card-body">

<div class="table-responsive">

<table id="tabla-c2" class="table table-hover table-bordered">

  <thead>
    <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>Detalles</th>
    </tr>
  </thead>

  <tbody>
    {% for coleccion in theme.collections_registrados %}
    <tr>
      <th>{{ coleccion.id }}</th>
      <th>{{ coleccion.nombre }}</th>
      <th>
        <a href="{% url 'grabber:collection_detail' coleccion.id %}" class="btn btn-outline-info">
          <i class="fa fa-fw fa-check"></i>
        </a>
      </th>
    </tr>
    {% endfor %}
  </tbody>

</table>
</div>

  </div>
</div>



{% endblock %}


{% block extrajs %}
  
<script type="text/javascript">

$(document).ready( function () {
    $('#tabla-c').DataTable();
    $('#tabla-c2').DataTable();
} );
</script>

{% endblock %}