{% extends 'account/base.html' %}

{% block breadcrumb %}

  <li class="breadcrumb-item active">
    Tematica
  </li>

  <li class="breadcrumb-item active">
    Detalles
  </li>

{% endblock %}


{% block junbotron %}


<div class="card">
  <div class="card-header text-success">
    Tematica
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ theme.nombre }}</h5>
    <p class="card-text">{{ theme.descripcion }}</p>
    <a href="{% url 'grabber:theme_update' theme.id %}" class="btn btn-primary">Modificar</a>
  </div>
</div>

<br>

<div class="card">
  <div class="card-header">
    Registros
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">

      <footer class="blockquote-footer">creada desde<cite title="Source Title">&nbsp;{{ theme.publicado }}</cite></footer>
    </blockquote>
  </div>
</div>

<br>


{% endblock %}