{% extends 'account/base.html' %}

{% block breadcrumb %}

  <li class="breadcrumb-item active">
    Recurso digital
  </li>

  <li class="breadcrumb-item active">
    Detalles
  </li>

{% endblock %}


{% block junbotron %}


<div class="card">
  <div class="card-header text-success">
    Recurso digital
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ item.nombre }}</h5>
    <p class="card-text">{{ item.descripcion }}</p>
    <a href="{% url 'grabber:item_update' item.id %}" class="btn btn-primary">Modificar
    </a>
    <a href="{% url 'grabber:item_delete' item.id %}" class="btn btn-outline-danger">
      Eliminar
    </a>
  </div>
</div>

<br>

<div class="card">
  <div class="card-header">
    Registros
  </div>
  <div class="card-body">

    <ul class="list-group">
      <li class="list-group-item"><a >Tipo: {{ item.tipo }}</a></li>
      <li class="list-group-item"><a >Tema: {{ item.tema }}</a></li>
    </ul>

    <hr>

    <blockquote class="blockquote mb-0">

      <footer class="blockquote-footer">creada desde<cite title="Source Title">&nbsp;{{ item.publicado }}</cite></footer>
      <footer class="blockquote-footer">ultima actualizacion<cite title="Source Title">&nbsp;{{ item.actualizado }}</cite></footer>
    </blockquote>

  </div>
</div>

<br>




{% endblock %}