{% if object_list %}

<ul class="collapsible popout" data-collapsible="accordion">

    {% for coleccion in object_list %}
    <li>
      <div class="collapsible-header indigo darken-3 white-text text-white"><i class="material-icons">assignment</i>
        {{ coleccion.nombre }}
      </div>

      <div class="collapsible-body">
        <ul class="collection collapsible">

            <li>
              <div class="collapsible-header"><i class="material-icons">assignment_late</i>Resumen</div>
              <div class="collapsible-body">
                <span> 
                {{ coleccion.descripcion }}
                </span> 
              </div>
            </li>

            <li class="collection-item"><i class="material-icons left">add_box</i>
              <a href="{% url 'seeker:seeker_category_collection' coleccion.id %}" class="black-text text-black" >Detalles
              </a>
            </li>
    
        </ul>
      </div>

    </li>
    {% endfor %}
</ul>

{% else %}
<p>No hay registros.</p>
{% endif %}