{% extends 'account/base.html' %}

{% block breadcrumb %}

  <li class="breadcrumb-item active">
    tipo de item
  </li>

  <li class="breadcrumb-item active">
    Editar
  </li>

{% endblock %}


{% block junbotron %}

<h1>Tipo de Item</h1>

<form method="post">

<!--token seguridad-->
{% csrf_token %}

<br>
<hr class="border-success">

<h2>Contenido</h2>

  <div class="form-group row">

    <label for="{{ form.nombre.label }}" class="col-sm-2 col-form-label col-form-label-lg">Nombre</label>

    <div class="col-sm-10">
      {{ form.nombre }}
    </div>

  </div>

  <div class="form-group row">

    <label for="{{ form.descripcion.label }}" class="col-sm-2 col-form-label col-form-label-lg">Descripcion</label>

    <div class="col-sm-10">
      {{ form.descripcion }}
    </div>

  </div>

<br>
<hr class="border-success">

<h2>Caracteristicas</h2>

<div class="alert alert-success" role="alert">
  Especifique en esta seccion elementos requeridos para usar este tipo de recurso digital
</div>


  <div class="form-group row">

    <label for="{{ form.plataforma.label }}" class="col-sm-2 col-form-label col-form-label-lg">Especificacion Sistema Operativo</label>

    <div class="col-sm-10">
      {{ form.plataforma }}
    </div>

  </div>

  <div class="form-group row">

    <label for="{{ form.instalar.label }}" class="col-sm-2 col-form-label col-form-label-lg">Plugin o extension</label>

    <div class="col-sm-10">
      {{ form.instalar }}
    </div>

  </div>

  <div class="form-group row">

    <label for="{{ form.extension.label }}" class="col-sm-2 col-form-label col-form-label-lg">Instalacion de Herramienta informatica</label>

    <div class="col-sm-10">
      {{ form.extension }}
    </div>

  </div>

<br>
<hr class="border-success">

  <button class="btn btn-primary" type="submit">Guardar</button> 

<br>
<hr class="border-success">

</form> 

{% endblock %}