{% extends 'core/base-m.html' %}
{% load static %}

{% block breadcrumb %}
<a class="breadcrumb">Busqueda</a>
<a  class="breadcrumb">coleccion </a>    
{% endblock %}


{% block add %}


{% if collection %}

<!-- Modal Trigger -->
<button class="btn waves-effect waves-light indigo darken-4 modal-trigger tooltipped" data-position="right" data-delay="50" data-tooltip="Buscar en resultados" href="#modal1">Busqueda
    <i class="material-icons right">send</i>
</button>

<!-- Modal Structure -->
<div id="modal1" class="modal">

  <form action="{% url 'seeker:seeker_title_letters_exacts' %}" method="GET">
    {% csrf_token %}

    <div class="modal-content">

      <h4>Busqueda</h4>
     

      <div class="row">
        <div class="col s12">
          <div class="row">

            <div class="input-field col s12">
              <i class="material-icons prefix">textsms</i>
              <input name="q" type="text" id="autocomplete-input" class="autocomplete" required>
                <label for="autocomplete-input">Autocompletado</label>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="modal-footer">
      <button class="btn black" type="submit" data-position="right" data-delay="50" data-tooltip="Buscar en resultados">Accion</button> 
    </div>

  </form>
  </div>

  
<a href="{% url 'seeker:seeker_category_listitems' collection.id %}" class='btn black tooltipped' data-position="right" data-delay="50" data-tooltip="Listar">
    <i class="material-icons">create</i>
</a>

<div class="col s12 m5">

      <br>
      <br>


      <div class="card-panel indigo darken-3 z-depth-5">
        <span class="white-text">
          <h5>Datos de la coleccion</h5>
        </span>

      <div class="chip teal darken-4 white-text text-white">
          <img src="{% static 'icon/py-m3.jpg' %}" alt="nada">
            Nombre: {{ collection.nombre }}
      
      </div>

      <div class="chip teal darken-4 white-text text-white">
          <img src="{% static 'icon/py-m3.jpg' %}" alt="nada">
            Recursos disponibles: {{ collection.items_cantidad }}
      
      </div>

      <div class="chip teal darken-4 white-text text-white">
          <img src="{% static 'icon/py-m3.jpg' %}" alt="nada">
            Tematica: {{ collection.tema }}

      </div>

      <br>

      <h5>Categorias en la que se encuentra</h5>

      {% for cat in collection.categorias.all %}
          <div class="chip teal darken-4 white-text text-white">
              <img src="{% static 'icon/py-m3.jpg' %}" alt="nada">
                {{ cat.nombre }} 
          </div>
      {% endfor %}

      <br>
 
      </div>
      
</div>

{% if collection.url_video != null %}
<div class="video-container">
  <iframe width="560" height="315" src="{{ collection.url_video }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
{% else %}
<!--sin registro-->
{% endif %}
   


<br>
<br>
<br>
<br>
<br>

{% block extrajs %}

<script type="text/javascript">


$(document).ready(function(){
  $('input.autocomplete').autocomplete({

    data: {

    {% for item in collection.items_registrados %}
      "{{item.nombre}}": null,
    {% endfor %}

    },
    
    limit: 20, // The max amount of results that can be shown at once. Default: Infinity.
    onAutocomplete: function(val) {
      // Callback function when value is autcompleted.
    },
    minLength: 1, // The minimum length of the input for the autocomplete to start. Default: 1.
  });
});

</script>

 {% endblock %}

{% else %}
<p>No se encontro registro</p>
{% endif %}

{% endblock %}