{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
	
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<meta name="description" content="unefa repositorio digital, coordinacion educacion a distancia">
<meta name="author" content="unefa coordinacion educacion a distancia">

<!-- Materialize CSS -->
<link href="{% static 'materialize/css/materialize.min.css' %}" rel="stylesheet">
<!--Datatables-->

<!-- Google-api icons CSS -->
<!--<link href="{% static 'materialize/icon/icon-googleapi.min.css' %}" rel="stylesheet">-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<!-- footer -->
<style type="text/css">

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }


</style>

<link rel="shortcut icon" href="{%  static 'favicon.png' %}">
  
<!-- CSS extras-->
{% block extracss %}
  
{% endblock %}

  

<title>{% block title %} 404 {% endblock %}</title>

</head>
	
<body class="blue lighten-5">
  
<main>

<nav class="nav-extended red darken-4">
	<div class="nav-wrapper">
		<br>
		<br>
		<br>
  </div>

</nav>
	
</main>


<center>
  <img src="{% static 'images/404.png' %}"></a>
</center>



<footer class="page-footer black">
	
		<br>
		<br>
		<br>
    <br>
    <br>
    <br>
         
        <div class="footer-copyright">

           <div class="container">
            © 2018 UNEFA-VIRTUAL
            <a class="grey-text text-lighten-4 right" href="#!">Links</a>
           </div>
        </div>

</footer>



<!-- javascripts -->
<!-- jquery -->
<script src="{% static 'plugin/jquery/jquery-3.2.1.min.js' %}"></script>
<!-- Materialize JS -->
<script src="{% static 'materialize/js/materialize.min.js' %}"></script>


</body>

</html>
