{% extends 'core/materialize.html' %}
{% load static %}

{% block async %}

<!-- service worker-->
<script async type="text/javascript">

if ('serviceWorker' in navigator) {
    navigator.serviceWorker
             .register('{% static 's_w.js' %}')
             .then(function() { console.log('Service Worker Registered'); });
}
</script>

{% endblock %}

{% block title %} 
UNEFA-Repositorio
{% endblock %}

{% block content %}

<header>

<!-- vista parcial notificacion -->
{% include 'includes/notification-m.html' %}

<nav class="indigo darken-4">
    <div class="nav-wrapper">
      
      <a class="brand-logo">UNEFA-VIRTUAL&nbsp;&nbsp;Repositorio</a>

    </div>
</nav>

<div class="container">
  <a data-target="nav-mobile" class="top-nav sidenav-trigger full hide-on-large-only text-white white-text">
    <i class="material-icons">menu</i> 
  </a>
</div>

<!-- vista parcial menu -->
{% include 'includes/menu-m.html' %}


</header>

<main>


{% block space %}

<div class="carousel carousel-slider center">

    <div class="carousel-item red darken-4 white-text" href="#one!">
      
      <br>
      <a target="_blank" href="http://seadu.unefa.edu.ve" rel="noopener" class="white-text flow-text">
        UNEFA-VIRTUAL SEADU 
      </a>
     
      <div>
        <img class="responsive-img" width="600" height="300" src="{% static 'images/carousel/moodle-min.png' %}" alt="logo_unefa_virtual">
      </div>

      
    </div>

    <div class="carousel-item indigo darken-4 white-text" href="#two!">

      <br>
      <a target="_blank" href="http://wendycod.pythonanywhere.com/" rel="noopener" class="white-text flow-text">
        UNEFA-VIRTUAL Portal
      </a>

      <div>
        <img class="responsive-img" width="800" height="300" src="{% static 'images/carousel/ubuntu-min.jpg' %}" alt="logo_pag_2">
      </div>

    </div>

    <div class="carousel-item indigo darken-4 white-text" href="#three!">
      
      <br>
      <a class="white-text flow-text">
        Sin definir
      </a>

      <div>
        <img class="responsive-img" width="400" height="300" src="{% static 'images/error/404-min.png' %}" alt="logo_pag_3">
      </div>

    
    </div>

    <div class="carousel-item indigo darken-4 white-text" href="#four!">
      
      <br>
      <a class="white-text flow-text">
        Sin definir
      </a>

      <div>
        <img class="responsive-img" width="400" height="300" src="{% static 'images/error/404-min.png' %}" alt="logo_pag_4">
      </div>

    </div>

</div>




{% endblock %}




<!-- vista parcial boton -->
{% include 'includes/button-m.html' %}

</main>

   
  
{% endblock %}




