{% extends 'core/base-m.html' %}

{% block title %} 
	Repositorio-Pruebas
{% endblock %}


{% block breadcrumb %}

<a class="breadcrumb">Pruebas</a>
<a class="breadcrumb">Carga</a>

{% endblock %}

{% block add %}

<div class="col s12 m5">
    
    <div class="indigo darken-4 card-panel z-depth-5">

    </div>
</div>

<div class="col s12 m5">
    
    <div class="card-panel z-depth-5">

{% if object_list %}

<table id="tabla-c" class="highlight responsive-table">
    
    <thead>
        <tr>
            <th>id</th>
            <th>nombre</th>   
            <th>identificador</th>
            <th>fecha</th>
            <th>publicado</th>
            <th>actualizado</th>  
        </tr>
    </thead>

    <tbody>

    {% for elemento in object_list %}
        <tr>
            <td>{{ elemento.id }}</td> 
            <td>{{ elemento.nombre }}</td>
            <td>{{ elemento.identificador }}</td>
            <td>{{ elemento.fecha }}</td> 
            <td>{{ elemento.publicado }}</td> 
            <td>{{ elemento.actualizado }}</td>  
        </tr>
    {% endfor %}
    
    </tbody>
</table>

        </div>
</div>



{% else %}
<p>No se encontro registro</p>
{% endif %}      

{% endblock %}

{% block extrajs %}
  
<script type="text/javascript">

$(document).ready( function () {
    $('#tabla-c').DataTable();
} );
</script>

{% endblock %}