{% extends 'core/base-m.html' %}
{% load static %}

{% block breadcrumb %}

<a class="breadcrumb">Detalles</a>
<a class="breadcrumb">Recurso digital</a> 

{% endblock %}

{% block add %}

<h4></h4>

<ul class="collapsible" data-collapsible="accordion">
    
    <li>
      <div class="collapsible-header black white-text"><i class="material-icons">dashboard</i>{{ item.nombre }}</div>
      
    </li>

    <li>
      <div class="collapsible-header indigo darken-4 white-text"><i class="material-icons">assignment_late</i>Descripcion</div>
      <div class="collapsible-body"><span>{{ item.descripcion }}</span></div>
    </li>

    <li>
      <div class="collapsible-header indigo darken-4 white-text"><i class="material-icons">assignment_ind</i>Autor</div>
      <div class="collapsible-body "><span>{{ item.autor }}</span></div>
    </li>

    <li>
      <div class="collapsible-header indigo darken-4 white-text" data-position="bottom"><i class="material-icons">card_membership</i>Tipo de recurso: {{ item.tipo }}</div>
      <div class="collapsible-body">

        <ul class="collection">
          <li class="collection-item avatar">
            <i class="material-icons circle green">developer_board</i>
              <p class="title text-black black-text tooltipped" data-position="bottom" data-tooltip="requerido para usar el recurso">

                Sistema operativo:&nbsp;{{ item.tipo.plataforma }}
                <br>
                {% if item.tipo.instalar != null %}
                  Requiere instalar el siguiente plugin:&nbsp;{{ item.tipo.instalar }}
                {% else %}
                <!---->
                {% endif %}
                <br>
                {% if item.tipo.extension != null %}
                  Requiere instalar la siguiente herramienta:&nbsp;{{ item.tipo.extension }}
                {% else %}
                <!---->
                {% endif %} 
              </p>
              <a class="secondary-content"><i class="material-icons">grade</i></a>
          </li> 
        </ul>

      </div>
    </li>

    {% if item.url != null %}
    <li>
      <div class="collapsible-header indigo darken-4 white-text"><i class="material-icons">collections</i>URL</div>
      <div class="collapsible-body">

        
        <a class="btn waves-light black tooltipped" target="_blank" href="{{ item.url }}" data-activates='dropdown1' data-position="botton" data-tooltip="link">
          <i class="material-icons">public</i>
        </a>
          &nbsp;&nbsp;&nbsp;{{ item.url }}
      </div>
    </li>
    {% else %}
        <!---->
    {% endif %}

    <li>
      <div class="collapsible-header indigo darken-4 white-text"><i class="material-icons">event_available</i>Fecha</div>

        <div class="collapsible-body">

        <ul class="collection">
          <li class="collection-item avatar">
            <i class="material-icons circle green">event_available</i>
              <p class="title text-black black-text">
              Fecha de elaboracion:&nbsp; {{ item.fecha }} &nbsp;&nbsp;&nbsp;&nbsp; {{ item.fecha|timesince }}
              <br>
              Publicado:&nbsp; {{ item.publicado }} &nbsp;&nbsp;&nbsp;&nbsp; {{ item.publicado|timesince }}
              <br>
              Ultima actualizacion:&nbsp; {{ item.actualizado }} &nbsp;&nbsp;&nbsp;&nbsp; {{ item.actualizado|timesince }}
              </p>
              <a class="secondary-content"><i class="material-icons">grade</i></a>
          </li> 
        </ul>

        </div>
    </li>

    <li>
      <div class="collapsible-header indigo darken-4 white-text"><i class="material-icons">work</i>Colecciones</div>

      <div class="collapsible-body">

        {% for coleccion in item.colecciones.all %}
        <div class="chip teal darken-4 white-text text-white">
            <img src="{% static 'icon/jpg/py-m3-min.jpg' %}" alt="nada">
              {{ coleccion.nombre }} 
        </div>
        {% endfor %}
      </div>
    </li>

    <li>
      <div class="collapsible-header indigo darken-4 white-text"><i class="material-icons">card_travel</i>etiquetas</div>

      <div class="collapsible-body">

        {% for tag in item.tags.all %}
        <div class="chip teal darken-4 white-text text-white">
            <img src="{% static 'icon/jpg/py-m3-min.jpg' %}" alt="nada">
              {{ tag.nombre }} 
        </div>
        {% endfor %}
      </div>
    </li>

    <li>
        <div class="collapsible-header white-text teal darken-4"><i class="material-icons">cloud_download</i>Archivos</div>
         <div class="collapsible-body">
    


              {% if item.archivo_1.url != null %}

              <a href="{{ item.archivo_1.url }}" class="waves-effect waves-light btn indigo darken-4">
                <i class="material-icons left">file_download</i>
                {{ item.nombre_archivo1 }}             
              </a>

              <a class="btn dropdown-trigger black" href="#!" data-target="dropdown1">
                Detalles
                <i class="material-icons right">arrow_drop_down</i>
              </a>

              <ul id="dropdown1" class="dropdown-content">
                <li><a class="text-black black-text">&nbsp;{{ item.extension_archivo1 }}</a></li>
                <li><a class="text-black black-text">&nbsp;{{ item.tamaño_archivo1 }}&nbsp;MB</a></li>
              </ul>
  
              {% else %}
              <!--sin registro-->
              {% endif %}

              <hr>

              {% if item.archivo_2.url != null %}
              <a href="{{ item.archivo_2.url }}" class="waves-effect waves-light btn indigo darken-4">
                <i class="material-icons left">file_download</i>
              {{ item.nombre_archivo2 }} 
              </a>

              <a class="btn dropdown-trigger black" href="#!" data-target="dropdown2">
                Detalles
                <i class="material-icons right">arrow_drop_down</i>
              </a>

              <ul id="dropdown2" class="dropdown-content">
                <li><a class="text-black black-text">&nbsp;{{ item.extension_archivo2 }}</a></li>
                <li><a class="text-black black-text">&nbsp;{{ item.tamaño_archivo2 }}&nbsp;MB</a></li>
              </ul>
                  
              {% else %}
              <!--sin registro-->
              {% endif %}

       
         </div>
    </li>


</ul>

<br>
<br>

{% endblock %}