
<ul class="collapsible popout" data-collapsible="accordion">

    {% for item in object_list %}
    <li>
      <div class="collapsible-header indigo darken-3 white-text text-white"><i class="material-icons">assignment</i>
        {{ item.nombre }}
      </div>

      <div class="collapsible-body">
        <ul class="collection collapsible">

            <li>
              <div class="collapsible-header"><i class="material-icons">assignment_late</i>Resumen</div>
              <div class="collapsible-body">
                <span> 
                {{ item.descripcion }}
                </span> 
              </div>
            </li>

            <li>
              <div class="collapsible-header"><i class="material-icons">event_available</i>Fecha</div>
              <div class="collapsible-body">

                <ul class="collection">
                  <li class="collection-item avatar">
                    <i class="material-icons circle green">event_available</i>
                      <p class="title text-black black-text">
                      Fecha de elaboracion:&nbsp; {{ item.fecha }} &nbsp;&nbsp;&nbsp;&nbsp; {{ item.fecha|timesince }}
                      <br>
                      Publicado:&nbsp; {{ item.publicado }} &nbsp;&nbsp;&nbsp;&nbsp; {{ item.publicado|timesince }}
                      <br>
                      Actualizado:&nbsp; {{ item.actualizado }} &nbsp;&nbsp;&nbsp;&nbsp; {{ item.actualizado|timesince }}
                      </p>
                    <a class="secondary-content"><i class="material-icons">grade</i></a>
                  </li> 
                </ul>

              </div>
            </li>

            <li class="collection-item"><i class="material-icons left">add_box</i>
              <a href="{% url 'seeker:item_pk' item.id %}" class="black-text text-black" >Detalles
              </a>
            </li>
    
        </ul>
      </div>

    </li>
    {% endfor %}
</ul>

